:root {
    --dew-main: #adcacc;
    --dew-second: #d4a154;
}

body h1, h2, h3, a {
    font-family: 'Poiret One', 'sans-serif';
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

video#intro_video {
    position: fixed;
    background-color: #000;
    top: 60px;
    left: 50%;
    height: 100%;
    min-width: 100%;
    z-index: 20;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.video-caption {
  position: absolute;
  top: 65px;
  left: calc(50% - 45px);
  z-index: 17;
}

.hexagon {
    position: absolute;
    top: 0;
    left: calc(50% - 60px);
    width: 120px;
    height: 69.28px;
    margin: 34.64px 0;
    background-image: url("images/header_logo_green.png");
    background-size: auto 138.5641px;
    background-position: center;
}

.hexagon:hover {
    top: 60px;
}

.hexTop, .hexBottom {
    position: absolute;
    z-index: 16;
    width: 84.85px;
    height: 84.85px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 17.57px;
}


/*counter transform the bg image on the caps*/

.hexTop:after, .hexBottom:after {
    content: "";
    position: absolute;
    width: 120.0000px;
    height: 69.2820323027551px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -42.4264px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -42.4264px;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 120.0000px;
    height: 69.2820px;
    z-index: 16;
    background: inherit;
}

#header {
    margin: 0;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.8);
    height: 60px;
}

img#header_logo {
    height: 80%;
    margin: 6px 15px;
    float: left;
}

#header h1 {
    border-left: 2px solid #595959;
    border-color: #737373;
    float: left;
    margin: 5px 0 0 0;
    color: #737373;
    font-weight: medium;
    font-size: 30px;
    padding: 5px 15px;
}

img#menu_icon {
    height: 50%;
    margin: 15px;
    float: right;
    cursor: pointer;
}

#menu {
    display: none;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 24;
    background-image: url("images/honeymenu.png");
    box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.8);
}

#menu ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 50px 0;
}

#menu h1#menu_title {
    text-decoration: underline;
    color: #d4a154;
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 30px;
}

#menu h1 {
    text-align: center;
    font-size: 30px;
}

#menu a {
    text-decoration: none;
    color: #737373;
}

#menu a:hover {
    text-decoration: none;
    color: #737373;
}

h1.section-title {
  padding-top: 50px;
  text-align: center;
}

#dew_1 {
    margin-top: 60px;
    background-image: url("images/dew_1_mobile.jpg");
    background-size: cover;
    z-index: -10;
}

.main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main img {
    width: 100%;
    padding: 0;
    margin: 0;
}

img#logo_green {
    z-index: 0;
    margin: 50px 0 200px 0;
    width: 100%;
}

#dew_2 h1.section-title {
  color: #737373;
}

#dew_2 {
    background-image: url("images/dew_2_mobile.jpg");
    background-size: cover;
    position: relative;
    z-index: -20;
}

#dew_2 .content img {
    display: block;
    margin: auto;
    width: 200px;
}
#dew_2 .about {
  padding: 40px;
}
#dew_2 .menu-button {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}
#dew_2 a.menu-button-link {
  background-color: #adcacc;
}
#dew_2 a.menu-button-link:hover {
  box-shadow: 0px 0px 20px 0px #000;
}
.about h3 {
    color: #737373;
}

.about h2 {
    color: #d4a154;
}

#dew_4 .section-title {
  color: #000000;
}

#dew_4 {
    background-image: url("images/dew_4_mobile.jpg");
    background-size: cover;
    position: relative;
    z-index: -40;
}

#dew_4 iframe {
    margin: 20px 10%;
}

#footer {
position: relative;
  z-index: -100;
    background-color: #adcacc;
}

#footer h3, h1, a {
  color: #FFFFFF;
}

#footer iframe {
    margin: 20px auto;
}

#footer .contact {
  text-align: center;
  padding-bottom: 100px;
}

.main {
  box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.8);
}

@media screen and (min-width: 640px) {
    #menu {
        width: 150px;
        left: auto;
        right: 0;
    }
    #dew_1 {
      border-bottom: 0px;
    }
    #dew_2 h1.section-title{
      padding-top: 100px;
    }
    #dew_2 {
        background-image: url("images/dew_2_desktop.jpg");
    }
    #dew_2 .content .about {
      padding: 0;
        border-left: solid #737373;
          padding-left: 40px;
        margin-bottom: 50px;
    }
    #dew_2 .content img {
        margin-top: 100px;
        width: 80%;
    }
    #dew_4 {
        background-image: url("images/dew_4_desktop.jpg");
    }
}

@media screen and (min-width: 1024px) {
#dew_2 .content .about {
padding-left: 100px;
}
}
